<div style = "margin:0 3rem 5rem 3rem;text-align:center">
	<br>
	<%= form_for(:comment, method: :create, url: post_comments_path(@post), remote: true) do |f| %>
	<div class="field" style = "width:100%;margin-bottom:1rem;max-width:50rem">
		<div style = "width:100%"> <%= f.text_field :commentor, class: "form-control focus-area", placeholder: "Your name" %>
		</div>
	</div>
	<div class="field" style = "width:100%;margin:0rem 0 0 0;max-width:50rem">
		<%= f.text_area :body, class: "form-control", placeholder: "Share your thoughts!" %>
	</div>
	<br>
	<div>
		<%= f.submit "Add comment" ,class: "btn btn-default fontOpen" ,style: "float:left" %>
	</div>

	<% end %>
	<br>
</div>
