<div style = "margin:0 3rem 5rem 3rem;text-align:center">
	<br>
	<%= form_for(:comment, method: :create, url: post_comments_path(@post), remote: true) do |f| %>
	<div class="field" style = "margin:0 10% 2% 0">
		<div style = "float:left;margin:0 0rem 0 0">
			<span style = "margin:0 0 0 0rem"></span>
			<div style = "float:left;width:50rem"> <%= f.text_field :commentor, class: "form-control focus-area", placeholder: "Your name" %>
			</div>
		</div>	
	</div>
	<br />
	<div style = "height:0.5rem">

	</div>
	<br />
	<div class="field" style = "width:50rem;margin:0rem 0 0 0">
		<%= f.text_area :body, class: "form-control", placeholder: "Share your thoughts!" %>
	</div>
	<br>
	<div>
		<%= f.submit "Add comment" ,class: "btn btn-default" ,style: "float:left" %>
	</div>

	<% end %>
	<br>
</div>
