<div style = "text-align:center;">
  <h1 class = "fontOpen" style= "font-size:5rem;font-weight:900">Projects</h1>
</div>
<div class = "fontOpen">
  <div style =  "position:relative;padding:3% 0 0 0;text-align:center">
    <div style = "text-align:center;margin:0 7%;">
      <% @projects.each do |project| %>
      <%= render 'project', project: project %>
      <%end%>
    </div>
    <div style = "clear:both">
    </div>
  </div>
</div>

