<div style = "text-align:center" >
<h1 style = "text-align:center">New Project</h1>
<div class = "" style = "text-align:center">
<%= render 'form' %>
</div>
<br>
<%= link_to 'Back', projects_path, class: "btn btn-default" %>
</div>
