<div class = "animated fadeIn fontLato" style = "text-align:center;width:100%">
	<div style = "text-align:center">
		<h1 class = "fontOpen" style= "font-size:5rem;font-weight:600">About Me</h1>
	</div>
	<div style = "width:80%;display:inline-block;background-color:white;border-radius:1rem">
		<div style = "float:left;text-align:left;padding:1rem;">
			<p>	
				   I am currently a <b>Junior</b> at <b>Arizona State University</b> 
			</p>
			<p>
				pursuing for Bachelor’s Degree in <b>Computer science</b>. 
			</p>
			<p>
				In my free time, I mainly develop web applications using 
			</p>
			<p>
				<b>Node</b> and <b>Ruby</b>.
			</p>
			<p>
					Other than programming, I enjoy playing table tennis, badminton,
			</p>
			<p>
				and chess. I am very sociable, and enthuisastic with whatever I work
			</p>
			<p>
				with. Most importantly, I do my best bringing positive vibe to 
			</p>
			<p>
				people around me, while getting things done on time.
			</p>
		</div>
		<div style = "padding:2em">			
				<%= image_tag("me.jpg", alt: "me.jpg", class: "img-circle me-img") %>
			<div style ="font-size:1.5em;padding-top:1em" class = "fontBradley">
				Enoch Ko
			</div>
		</div>
		<div>
			<p class = "fontOpen">My GitHub: <a href= "https://github.com/enoch232">enoch232</a></p>
		</div>
	</div>
</div>