<div class = "animated fadeIn" style = "text-align:center;width:100%">
	<div style = "text-align:center">
		<h1 class = "fontBradley">About Me</h1>
	</div>
	<div style = "width:80%;display:inline-block;background-color:#f2f2f2;border-radius:1em">
		<div style = "float:left;text-align:left;padding:1em">
			<p>	
				   I am currently a <b>Junior</b> at <b>Arizona State University</b> 
			</p>
			<p>
				pursuing for Bacheolor’s Degree in <b>Computer science</b>. 
			</p>
			<p>
				In my free time, I mainly develop web applications using 
			</p>
			<p>
				<b>AngularJS</b>, and webpages using <b>Ruby on rails</b>.  
			</p>
			<p>
					Other than programming I enjoy playing table tennis, badminton,
			</p>
			<p>
				chess, and uniwar. I am very passionate about technologies. 
			</p>
			<p>
					I am very sociable, and enthuisastic with whatever I work
			</p>
			<p>
				with. I do my best to bring positive vibe to people around me,
			</p>
			<p>
				and get things done on time.
			</p>
		</div>
		<div style = "padding:2em">
			<%= image_tag("me.jpg", alt: "me.jpg", style: "height:300px;width:300px", class: "img-circle") %>
			<div style ="font-size:1.5em;padding-top:1em" class = "fontBradley">
				Enoch Ko
			</div>
		</div>
		<div>
			<p>My GitHub: <a href= "https://github.com/enoch232">enoch232</a></p>
		</div>
	</div>
</div>