
<div class = "animated fadeIn" style = "text-align:center;width:100%">
	<div style = "text-align:center">
		<h1 class = "fontBradley">Contact</h1>
	</div>
	<div style = "width:80%;display:inline-block;background-color:#f2f2f2;height:20em;border-radius:0.5em">
		<div style = "text-align:center;padding:1em">
			<div>
			    <div>
			      <p><span class="glyphicon glyphicon-envelope"></span> enoch232@gmail.com</p>
			      <p><span class="glyphicon glyphicon-phone"></span> (623)- 271- 5349</p>
			      <p><span class="glyphicon glyphicon-map-marker"></span> Phoenix, Arizona</p>
			    </div>
			</div>
		</div>
	</div>
</div>


