<div id = "top">
	<div style =  "position:relative;margin:0 0 0 0;padding:20% 0 0 0">
		<span style = "font-size:6rem;font-weight:800;color:black">My Portfolio</span>
		<br>
		<span style = "font-size:3rem;color:#050505">Enoch Ko</span>
	</div>
</div>
<div id = "middle">
	<div class = "jumbotron" style = "background-color:#2EC4B6">
		<span style = "font-size:5rem;font-weight:700;color:#353535">Who Am I?</span>
	</div>
	<div style = "margin:0 auto;width:400px;text-align:left;">
		<br>
		<span style = "font-size:3rem;color:#050505"> I am..</span>			
		<br>
		<p>A web developer in Phoenix Arizona,</p>
		<p>Specializing in designs, and backend development using Ruby on Rails.</p>
		<p>Strong knowledge in C/C++, Java, SQL, Javascript, PHP.</p>
	</div>
</div>
<div id = "bottom">
	<div style =  "position:relative;margin:0 0 0 0;padding:3% 0 0 0">
		<span style = "font-size:5rem;font-weight:800;color:black">My Work</span>
		
	</div>
	
</div>