<div>
	<div class = "wrapper clearfix animated bounce">
			<div class = "col-1 fontLato">
				<h3>I am..</h3>
				<hr class = "hr-special">
				<p>A web developer in Phoenix Arizona,</p>
				<p>Specializing in designs, and development using Ruby on Rails.</p>
				<p>Strong knowledge in C/C++, Java, Assembly, Javascript, PHP.</p>
			</div>
			<div class = "col-2 fontLato" >
				<h3>Recent Projects</h3>
				<hr class = "hr-special">
				<% @projects.each do |project| %>
				<p><span style = "font-size:1.5em"><%= link_to project.title, project.url %></span> <span style = "font-size:.8em"> posted <%= time_ago_in_words(project.created_at) %> ago.</span></p>
				<%end%>
			</div>
			<div class = "col-3 fontLato">
				<h3>Recent Articles</h3>
				<hr class = "hr-special">
				<% @posts.each do |post| %>
				<p><span style = "font-size:1.5em"><%= link_to post.title, post %></span> <span style = "font-size:.8em">posted <%= time_ago_in_words(post.created_at) %> ago.</span></p>
				<%end%>
				
			</div>
	</div>
</div>
<div style = "height:5em">

</div>

