<div style = "text-align:center;">
  <h1 class = "fontBradley">List of Articles</h1>
  <hr style = "display:inline-block;width:50%">
</div>


<div style = "text-align:center;margin:0 0 10em 0">
  <% @posts.each do |post| %>

  <div class = "postViews fontBradley animated fadeIn">
    <div style = "text-align:center;width: 100%;font-size:1.5em" >
      <%= link_to post.title, post %>
    </div>
    <hr class = "hr-2">
    <div class = ".visible-xs-block hidden-xs" style = "width: 100%;height:5em;color:#525252" >
      <%= post.body %>
    </div>
    <div style = "text-align:center;width: 100%" >
      <% if user_signed_in? %>
        <%= link_to "Delete", post, method: :delete, data: {confirm: "Are you sure?"},class: "btn btn-danger" %>
      <% end %>
    </div>

  </div>
  <% end %>
</div>

